@import "tailwindcss";

@layer components {
  :root {
    @apply text-zinc-400! text-base!;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 0.5);
  }
  .scrolled::-webkit-scrollbar {
    display: none;
  }

  /*  Background - Body */
  .bgBody {
    @apply bg-zinc-950;
  }
  /*  Background - Main */
  .bgPrimary {
    @apply bg-zinc-900;
  }
  /*  Background - Sidebar, Panel, Card */
  .bgSecondary {
    @apply bg-zinc-800;
  }
  /*  Background - child Sidebar, child Panel, child Card */
  .bgElement {
    @apply bg-zinc-700;
  }

  /*  Background - child Sidebar, child Panel, child Card */
  .bgHover {
    @apply bg-zinc-700;
  }

  /*  Text*/
  .textPrimary {
    @apply text-zinc-100;
  }
  .textNormal {
    @apply text-zinc-300;
  }
  .textSecondary {
    @apply text-zinc-400;
  }
  .textMuted {
    @apply text-zinc-500;
  }

  /* Border */
  .borderNormal {
    @apply border-zinc-800;
  }
  .borderVisible {
    @apply border-zinc-700;
  }
  .borderFocus {
    @apply border-zinc-500;
  }

  /*  Border*/
  .border {
    @apply border border-zinc-800;
  }
  .borderT {
    @apply border-t border-zinc-800;
  }
  .borderB {
    @apply border-b! border-zinc-800;
  }
  .borderL {
    @apply border-l border-zinc-800;
  }
  .borderR {
    @apply border-r border-zinc-800;
  }

  .shadow {
    @apply shadow-lg drop-shadow-lg;
  }
}
