@import "tailwindcss";

@layer components {
  :root {
    @apply bg-black text-zinc-400! text-base!;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 0.5);
  }
  .scrolled::-webkit-scrollbar {
    display: none;
  }

  /*  Text*/
  .text0 {
    @apply text-zinc-200;
  }
  .text1 {
    @apply text-zinc-400;
  }

  /*  Background*/
  .bg0 {
    @apply bg-zinc-950;
  }
  /*  Background*/
  .bg0 {
    @apply bg-zinc-950;
  }
  .bg1 {
    @apply bg-zinc-900;
  }
  .bg2 {
    @apply bg-zinc-800;
  }
  .bg3 {
    @apply bg-zinc-700;
  }

  /*  Border*/
  .border {
    @apply border border-zinc-700/40;
  }
  .borderT {
    @apply border-t border-zinc-700/40;
  }
  .borderB {
    @apply border-b! border-zinc-700/40;
  }
  .borderL {
    @apply border-l border-zinc-700/40;
  }
  .borderR {
    @apply border-r border-zinc-700/40;
  }

  .shadow {
    @apply shadow drop-shadow;
  }
}
