@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  :root {
    @apply dark:bg-black bg-white dark:text-zinc-300 text-zinc-700;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 0.5);
  }
  .scrolled::-webkit-scrollbar {
    display: none;
  }

  /* Scrollbar none  */
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /*  Background */
  .bgPrimary {
    @apply bg-yellow-200;
  }
  .bg950 {
    @apply dark:bg-zinc-950 bg-zinc-50;
  }
  .bg900 {
    @apply dark:bg-zinc-900 bg-zinc-100;
  }
  .bg800 {
    @apply dark:bg-zinc-800 bg-zinc-200;
  }
  .bg700 {
    @apply dark:bg-zinc-700 bg-zinc-300;
  }

  /*  Button */
  .btnPrimary {
    @apply bg-yellow-200 text-zinc-900;
  }
  .btnPrimaryActive {
    @apply bg-yellow-300 text-zinc-800;
  }
  .btnBase {
    @apply dark:bg-zinc-800 bg-zinc-200;
  }
  .btnBaseActive {
    @apply dark:bg-zinc-800 bg-zinc-200;
  }
  .btnGhost {
    @apply hover:dark:bg-zinc-700 hover:bg-zinc-300;
  }

  /*  Button Size */
  .btnLg {
    @apply text-base font-bold min-h-9 min-w-9 px-4 rounded-sm capitalize;
  }
  .btnSm {
    @apply text-sm font-semibold min-h-7.5 min-w-7.5 px-3 rounded-sm capitalize;
  }
  .btnXs {
    @apply text-xs font-medium min-h-6.5 min-w-6.5 px-3 rounded capitalize;
  }
  .btnCircle {
    @apply p-0! rounded-full;
  }
  .btnRounded {
    @apply p-0! rounded-xl;
  }

  .outline {
    @apply border-2 border-zinc-900 outline-2 outline-zinc-600/60;
  }

  /* Text */
  .textLg {
    @apply text-xl font-black;
  }
  .textSm {
    @apply text-sm font-semibold;
  }
  .textXs {
    @apply text-xs font-semibold;
  }
  .textMuted {
    @apply dark:text-zinc-500 text-zinc-600;
  }

  /* Border */
  .border {
    @apply border dark:border-zinc-100/10 border-zinc-300;
  }
  .borderT {
    @apply border-t dark:border-zinc-100/10 border-zinc-300;
  }
  .borderB {
    @apply border-b! dark:border-zinc-100/10 border-zinc-300;
  }
  .borderL {
    @apply border-l dark:border-zinc-100/10 border-zinc-300;
  }
  .borderR {
    @apply border-r dark:border-zinc-100/10 border-zinc-300;
  }

  /* Shadow */
  .shadow {
    @apply shadow-lg drop-shadow-lg;
  }
}
